*{
    box-sizing: border-box;
}
body{
   font-family: 'Festive', cursive;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(0, 110, 255),rgb(52, 248, 232));
}
.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,0.6);
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
}
.clock::after{
   content: "";
   width: 13px;
   height: 13px;
   background-color: black;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.hand{
    --rotation:0;
    background-color: black;
    border: 0.5px solid white;
    width: 10px;
    height: 40%;
    position: absolute;
    border-radius: 40%;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg) );
}
.hand.hour{
   height: 30%;
}
.hand.minute{
    width: 6px;
}
.hand.second{
    background-color: red;
    width: 4px;
}
.number{
    --rotation:0;
    position:absolute;
    inset: 0;
    text-align:center;
    transform: rotate(var(--rotation));
    font-size: 1.5em;
}
.number1{
   --rotation:30deg;
}
.number1 > div{
   transform: rotate(-30deg);
  }
.number2{
   --rotation:60deg;
}
.number2 > div{
   transform: rotate(-60deg);
  }
.number3{
   --rotation:90deg;
}
.number3 > div{
   transform: rotate(-90deg);
  }
.number4{
   --rotation:120deg;
}
.number4 > div{
   transform: rotate(-120deg);
  }
.number5{
   --rotation:150deg;
}
.number5 > div{
   transform: rotate(-150deg);
  }
.number6{
   --rotation:180deg;
}
.number6 > div{
 transform: rotate(-180deg);
}
.number7{
   --rotation:210deg;
}
.number7 > div{
   transform: rotate(-210deg);
  }
.number8{
   --rotation:240deg;
}
.number8 > div{
   transform: rotate(-240deg);
  }
.number9{
   --rotation:270deg;
}
.number9 > div{
   transform: rotate(-270deg);
  }
.number10{
   --rotation:300deg;
}
.number10 > div{
   transform: rotate(-300deg);
  }
.number11{
   --rotation:330deg;
}
.number11 > div{
   transform: rotate(-330deg);
  }
.number12{
   --rotation:360deg;
}

/* ----------  end of arrow clock  ------------ */
/* ----------  start of analog clock  ------------ */

.analogClock{
   margin-top: 50px;
   border: 4px solid white;
   border-radius: 18px;
   min-width: 40%;
   text-align: center;
}
.analogClock div{
   display: inline-block;
   font-size: 23px;
   font-weight: bolder;
}
